<div>
    <h2>
        <span>Repositories</span>
        <button class="btn btn-primary float-right jh-create-entity create-repository" [routerLink]="['/', { outlets: { popup: ['repository-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Repository
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="repositories">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Stars</span></th>
            <th><span>Forks</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let repository of repositories ;trackBy: trackId">
                <td><a [routerLink]="['../repository', repository.id ]">{{repository.id}}</a></td>
                <td>{{repository.name}}</td>
                <td>{{repository.stars}}</td>
                <td>{{repository.forks}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../repository', repository.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'repository/'+ repository.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'repository/'+ repository.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
